<div class="array" #anchor (click)="onNodeClick($event)" [attr.data-array]="getNodeName()">
  <div class="header">
    <ng-container>
      <button class="btn btn-sm" [hidden]="!isCollapsed()" (click)="show($event)">
        <fa-icon [icon]="icons.faPlusSquare"></fa-icon>
      </button>
      <button class="btn btn-sm" [hidden]="isCollapsed()" (click)="hide($event)">
        <fa-icon [icon]="icons.faMinusSquare"></fa-icon>
      </button>
    </ng-container>

    <span class="tagname p-1">
      <span class="tag">&lt;</span>
      <span [innerHTML]="getValue(getNodeName())"></span>
      <span class="tag">&gt;</span>
    </span>
    <span class="py-1 array-len"> ({{ getNodeLen() }}) </span>
  </div>

  <div class="ml-4">
    <table class="mr-1" [hidden]="isCollapsed()">
      <thead *ngIf="!isText()">
        <tr>
          <th class="p-1 array-index"></th>
          <th
            class="p-1 attr-name"
            *ngFor="let attr of getAttributeNames()"
            (click)="onNodeClick($event)"
            [innerHTML]="getValue(attr)"
          ></th>
          <ng-container *ngFor="let childNode of getChildrenNames()">
            <th class="p-1 tag-name">
              <span class="tag">&lt;</span>
              <span [innerHTML]="getValue(childNode)"></span>
              <span class="tag">&gt;</span>
            </th>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let node of nodes; let i = index"
          [class.selected]="node.selected && node.selection.element === node && node.selection.type === 'Node'"
          (click)="onSubNodeClick($event, node)"
        >
          <td class="p-1 array-index">{{ i }}.</td>
          <td class="p-1 tag-val" *ngIf="node.isText" [innerHTML]="getTextValue(node.shortText, node)"></td>
          <ng-container *ngIf="!node.isText">
            <ng-container *ngFor="let attr of getAttrList(node)">
              <td
                *ngIf="attr"
                class="attr-val"
                [class.selected]="node.selected && node.selection.attr === attr"
                [class.highlighted]="hasAttrHighlight(node, attr)"
                (click)="onAttrClick($event, attr, node)"
              >
                <div *ngIf="hasAttrHighlight(node, attr)" class="highlight-text">
                  <fa-icon class="align-top mt-2 mr-2" size="lg" [icon]="icons.faHighlighter"></fa-icon>
                  <div
                    class="d-inline-block input"
                    role="textbox"
                    contenteditable
                    [textContent]="node.highlights.attrs[attr.name]"
                    (focusout)="highlightFocusAttrOut($event, node, attr)"
                  ></div>
                </div>

                <div class="p-1" [innerHTML]="getTextValue(attr.value, node)"></div>
              </td>
              <td *ngIf="!attr" class="empty-cell">
                <fa-icon [icon]="icons.faTimesCircle"></fa-icon>
              </td>
            </ng-container>

            <ng-container *ngFor="let childNodes of getChildNodes(node)">
              <td *ngIf="childNodes">
                <ng-container *ngIf="childNodes.length === 1">
                  <app-node [node]="childNodes[0]" [arrayInParent]="true" [noTagName]="childNodes[0].isText"></app-node>
                </ng-container>
                <ng-container *ngIf="childNodes.length > 1">
                  <app-array [nodes]="childNodes"></app-array>
                </ng-container>
              </td>
              <td *ngIf="!childNodes" class="empty-cell">
                <fa-icon [icon]="icons.faTimesCircle"></fa-icon>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
