@import '../../colors.scss';

.array {
    .header {
        white-space: nowrap;
    }

    .tagname {
      color: $tagname-col;
    }

    .tag {
      color: $tag-col;
    }

    .array-len {
      color: $attr-val-col;
    }

    .attr-name {
      color: $attr-col;
      white-space: nowrap;
    }

    .tag-name {
      color: $tagname-col;
    }

    .attr-val {
      color: $attr-val-col;
    }

    .tag-val {
      color: $text-col;
    }

    table {
        border: 1px solid $array-col;
        .array-index {
            width: 3em;
            min-width: 3em;
        }

        tr {

            th {
                border: 1px solid $array-col;
                background: $array-col;
                font-weight: normal;
                white-space: nowrap;
            }
            td {
                vertical-align: top;
                border: 1px solid $array-col;
                padding: 0;
            }
            td:first-child {
              color: $tag-col;
            }

        }
    }

    .btn-sm {
        line-height: 1;
        padding: 0;

        .icon-expand, .icon-collapse {
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            display: inline-block;
            margin: .3rem;
        }

        .icon-expand {
            background-image: url(../../../assets/icons/plus-square-regular.svg);
        }

        .icon-collapse {
            background-image: url(../../../assets/icons/minus-square-regular.svg);
        }

    }
}
