<div class="array" #anchor (click)="onNodeClick($event)" [attr.data-array]="nodes[0].name">
  <div class="header">
    <ng-container>
      <button class="btn btn-sm" [hidden]="!nodes[0].collapsed" (click)="show($event)">
        <svg class="bi" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons.svg#plus-square" />
        </svg>
      </button>
      <button class="btn btn-sm" [hidden]="nodes[0].collapsed" (click)="hide($event)">
        <svg class="bi" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons.svg#dash-square" />
        </svg>
      </button>
    </ng-container>

    <span class="tagname p-1"> <span class="tag">&lt;</span>{{ nodes[0].name }}<span class="tag">&gt;</span> </span>
    <span class="py-1 array-len"> ({{ nodes.length }}) </span>
  </div>

  <div class="ml-4">
    <table class="mr-1" [hidden]="nodes[0].collapsed">
      <thead *ngIf="!nodes[0].isText">
        <tr>
          <th class="p-1 array-index"></th>
          <th class="p-1 attr-name" *ngFor="let attr of nodes[0].attributeNames" (click)="onNodeClick($event)">
            {{ attr }}
          </th>
          <ng-container *ngFor="let childNode of nodes[0].childrenNames">
            <th class="p-1 tag-name"><span class="tag">&lt;</span>{{ childNode }}<span class="tag">&gt;</span></th>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let node of nodes; let i = index"
          [class.selected]="selection && selection.element === node && selection.type === 'Node'"
          (click)="onSubNodeClick($event, node)"
        >
          <td class="p-1 array-index">{{ i }}.</td>
          <td class="p-1 tag-val" *ngIf="node.isText">
            {{ node.shortText }}
          </td>
          <ng-container *ngIf="!node.isText">
            <ng-container *ngFor="let attr of getAttrList(node)">
              <td
                *ngIf="attr"
                class="attr-val"
                [class.selected]="selected && selectedAttr === attr"
                (click)="onAttrClick($event, attr, node)"
              >
                <div class="p-1">
                  {{ attr.value }}
                </div>
              </td>
              <td *ngIf="!attr" class="empty-cell">
                <svg class="bi" fill="currentColor">
                  <use xlink:href="assets/icons/bootstrap-icons.svg#x-circle" />
                </svg>
              </td>
            </ng-container>

            <ng-container *ngFor="let childNodes of getChildNodes(node)">
              <td *ngIf="childNodes">
                <ng-container *ngIf="childNodes.length === 1">
                  <app-node [node]="childNodes[0]" [arrayInParent]="true" [noTagName]="childNodes[0].isText"></app-node>
                </ng-container>
                <ng-container *ngIf="childNodes.length > 1">
                  <app-array [nodes]="childNodes"></app-array>
                </ng-container>
              </td>
              <td *ngIf="!childNodes" class="empty-cell">
                <svg class="bi" fill="currentColor">
                  <use xlink:href="assets/icons/bootstrap-icons.svg#x-circle" />
                </svg>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
