.array {
    border-left: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    background: white;

    .header {
        white-space: nowrap;
    }

    .tagname {
        font-size: 1.1rem;
        font-weight: bold;
    }

    table {
        width: 100%;
        border-left: 1px solid #d8d8d8;
        border-top: 1px solid #d8d8d8;

        tr {

            th {
                border-left: 1px solid #d8d8d8;
                background: #f8f8f8;
                font-weight: normal;
                white-space: nowrap;
            }
            td {
                vertical-align: top;
                border-left: 1px solid #d8d8d8;
                padding: 0;
                background: white;
            }
            
            th:first-child,
            td:first-child {
                border-left: 0;
                text-align: right;
            }

            td:first-child {
                border-top: 1px solid #d8d8d8;
                background: #f8f8f8;
            }

        }
    }
    
    .btn-sm {
        line-height: 1;
        padding: 0;

        .icon-expand, .icon-collapse {
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
            display: inline-block;
            margin: .3rem;
        }

        .icon-expand {
            background-image: url(../../../assets/icons/plus-square-regular.svg);
        }

        .icon-collapse {
            background-image: url(../../../assets/icons/minus-square-regular.svg);
        }

    }
}


.icon-attr, .icon-tag {
    font-size: .9rem;
    font-weight: bold;
    width: 1rem;
    display: inline-block;
    text-align: right;
}
.icon-tag {
    color: #0095ff;
}
.icon-attr {
    color: #ea7d1f;
}
