<div *ngIf="parserError" class="alert alert-warning" role="alert">
  {{parserError}}
</div>

<nav *ngIf="selectedNode" class="sticky-top">
  <ol class="breadcrumb">
    <li *ngFor="let node of getSelectedNodeHierarchy()" class="breadcrumb-item">
      <a (click)="onSelectedNode(node)">
        {{ node.tagName }}
      </a>
    </li>
  </ol>
</nav>

<div *ngFor="let node of document.childNodes" 
  class="border-right border-bottom">
  <app-node [node]="node" (selection)="onSelectedNode($event)"></app-node>
</div>

