<div
  *ngIf="node.tagName"
  class="node"
  (click)="clickNode($event)"
  [class.selected]=node.selected>

  <div class="inner">

    <div class="header d-flex flex-row">
      <ng-container *ngIf="!isTextNode()">
        <button class="btn btn-sm" 
          *ngIf="collapsed" (click)="toggle(false, $event)">
          <fa-icon [icon]="['far', 'plus-square']"></fa-icon>
        </button>
        <button class="btn btn-sm" 
          *ngIf="!collapsed" (click)="toggle(true, $event)">
          <fa-icon [icon]="['far', 'minus-square']"></fa-icon>
        </button>
      </ng-container>

      <div class="tagname p-1">
        <ng-container *ngIf="isTextNode()">
          <fa-icon [icon]="['fas', 'code']"></fa-icon>
        </ng-container>
        {{ node.tagName }}
      </div>
      <div *ngIf="isTextNode()" class="textcontent border-left p-1">
        {{ node.textContent }}
      </div>
    </div>

    <ng-container *ngIf="node.childNodes">
      <div class="indent"
          *ngFor="let childNode of node.childNodes"
          [class.collapsed]="collapsed">
        <app-node [node]="childNode" (selection)="onSelectedNode($event)"></app-node>
      </div>
    </ng-container>
      
  </div>

</div>
