.node {
    border-left: 3px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    background-color: white;

    &.odd {
        background-color: #efefef;
    }

    &.selected {
        border-left-color: #007eff;
    }

    .material-icons {
        margin: .25rem 0 0 .25rem;
    }

    .btn-sm {
        line-height: 1;

        .material-icons {
            margin: 0;
        }
    }

    .indent {
        padding-left: 2.1em;
    }

    .name {
        flex: 0 0 20%;
    }

    .value {
        flex: 1 1 80%;
        word-break: break-all;
    }

    .collapsed {
        display: none;
    }

    .inner {
        border-left: 4px solid transparent;
    }
}
