<div *ngIf="node.tagName" class="border border-right-0 mb-2" (click)="clickNode($event)">

  <div class="d-flex flex-row">
    <div class="p-2">
      {{ node.tagName }}
    </div>
    <div *ngIf="isTextNode()" class="border-left p-2">
      {{ node.textContent }}
    </div>
  </div>

  <ng-container *ngIf="node.childNodes">
    <div class="pl-5" *ngFor="let childNode of node.childNodes">
      <app-node [node]="childNode" (selection)="onSelectedNode($event)"></app-node>
    </div>
  </ng-container>

</div>
