.node {
    border-left: 3px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    font-size: .8rem;
    display: table;
    width: 100%;
    
    &.noTagName {
        border: 0;
    }

    &.odd {
        background-color: #efefef;
    }

    .material-icons {
        margin: .25rem 0 0 .25rem;
    }

    .btn-sm {
        line-height: 1;
        padding: 0;

        .material-icons {
            margin: 0;
        }
    }

    .value {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        max-height: 4rem;
        min-width: 120px;
    }

    .inner {
        border-left: 4px solid transparent;
    }
}
