<div
  *ngIf="node.tagName"
  class="node"
  (click)="clickNode($event)"
  [class.selected]=node.selected>

  <div class="header d-flex flex-row">
    <div class="tagname p-1 pl-3">
      {{ node.tagName }}
    </div>
    <div *ngIf="isTextNode()" class="border-left p-1">
      {{ node.textContent }}
    </div>
  </div>

  <ng-container *ngIf="node.childNodes">
    <div class="pl-3" *ngFor="let childNode of node.childNodes">
      <app-node [node]="childNode" (selection)="onSelectedNode($event)"></app-node>
    </div>
  </ng-container>
    
</div>
