<div class="container mt-5 mx-auto">
  <div class="row">
    <div class="col-3">
      <img src="assets/icons/128x128.png" />
    </div>
    <div class="col">
      <h2>Welcome to <strong>XmlFly</strong></h2>
      <p>
        XmlFly is an
        <a href="https://en.wikipedia.org/wiki/XML" target="_blank"
          >XML
          <svg class="bi" fill="currentColor">
            <use xlink:href="assets/icons/bootstrap-icons.svg#box-arrow-up-right" />
          </svg>
        </a>
        document viewer.<br />
        To start, open an existing XML document:
      </p>
      <ul>
        <li>Click the open button in the toolbar</li>
        <li>Use they keyboard shortcut <span class="code">Ctrl + O</span></li>
        <li>Drag and drop a file from your computer</li>
      </ul>
      <p>
        Checkout the project page on
        <a href="https://github.com/mschn/xml-fly" target="_blank"
          >github.com
          <svg class="bi" fill="currentColor">
            <use xlink:href="assets/icons/bootstrap-icons.svg#box-arrow-up-right" />
          </svg>
        </a>
      </p>
    </div>
  </div>
</div>
