@import '../colors.scss';

.selection {
  background-color: #2d2d2d;
  color: $text-col;
  border-bottom: 1px solid #424242;
  border-top: 1px solid #424242;

  .col-tagname {
    color: $tagname-col;
  }

  .grey {
    color: $tag-col
  }

}

