<div *ngIf="selection?.type" class="selection px-1 py-1">

  <div class="header">
      <span *ngIf="selection.type === 'Attr'" class="col-tagname">
        @
        <span class="grey">Attribute</span>
      </span>
      <span *ngIf="selection.type === 'Node'" class="col-tagname">
        #
        <span class="grey">Node</span>
      </span>

      <span class="grey px-1">/</span>
      <span *ngFor="let node of selection.path; let lastNode = last; let i = index;"
        class="col-tagname" (click)="selectNode(i)"
        >{{ node }}<span class="grey px-1" *ngIf="!lastNode">/</span>
      </span>
  </div>

  <div *ngIf="selection.value">
    <span class="grey">
      Value =
    </span>
    {{ selection.value }}
  </div>

</div>
