<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Share the URL to this file</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="encodedUrl">
    <p>The encoded URL is {{ formatBytes(encodedUrl.length) }}</p>

    <p class="text-truncate p-2 border">
      <a [href]="encodedUrl" target="_blank">
        {{ encodedUrl.substring(0, 100) }}
        <svg class="bi" fill="currentColor">
          <use xlink:href="assets/icons/bootstrap-icons.svg#box-arrow-up-right" />
        </svg>
      </a>
    </p>
  </div>
  <div *ngIf="!encodedUrl">Encoding URL...</div>
</div>
