<div class="h-100 d-flex flex-column">

    <nav class="nav nav-tabs bg-light px-2 pt-1">
    
        <div class="nav-item" 
            *ngFor="let file of files">
            <a class="nav-link"
                [class.active]="file.selected"
                (click)="selectFile(file)"
                href="#">
                {{ file.name }}
            </a>
        </div>
    
        <form class="m-1 form-inline navbar-nav mr-auto">
    
            <label class="btn btn-sm btn-primary btn-file" *ngIf="!loading">
                Open <input type="file" (change)="openFile($event)">
            </label>
    
            <button *ngIf="loading"
                class="btn btn-sm btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
    
        </form>
    </nav>
        


    <div class="border-bottom flex-fill overflow-auto">
        <div *ngFor="let file of files" [hidden]="!file.selected">
            <app-xml-view [xmlString]="file.xmlFileContent"></app-xml-view>
        </div>
    </div>

    <div>
        <app-selection></app-selection>
    </div>

</div>

