@import 'colors.scss';

.btn-file {
  cursor: pointer;
  input {
    display: none;
  }
}

nav {
  flex: 0 0 auto;

  .nav-item {

    .btn.filename {
      max-width: 120px;
    }

  }
}

.main {
  background-color: $bg-col;
  color: $text-col;
  font-family: 'Roboto Mono', monospace;
}
