@import 'colors.scss';

nav {
  flex: 0 0 auto;

  .btn.filename {
    max-width: 15rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.main {
  background-color: $bg-col;
  color: $text-col;

  .left-bar {
    background-color: $left-bar-bg-col;
  }
}
