<div class="h-100 d-flex flex-column"
    (dragover)="dragFalse()"
    (dragleave)="dragFalse()"
    (dragend)="dragFalse()"
    (drop)="onDrop($event)"
>

    <nav class="nav navbar-dark bg-primary px-2">
    
        <div class="nav-item m-1" 
            *ngFor="let file of files">
            <button class="btn btn-sm btn-primary"
                [class.active]="file.selected"
                (click)="selectFile(file)">
                {{ file.name }}
            </button>
        </div>
    
        <form class="m-1 form-inline navbar-nav mr-auto">
    
            <label class="btn btn-sm btn-primary btn-file" *ngIf="!loading">
                Open <input type="file" (change)="openFile($event)">
            </label>
    
            <button *ngIf="loading"
                class="btn btn-sm btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
    
        </form>
    </nav>
        


    <div class="border-bottom flex-fill overflow-auto">
        <div *ngFor="let file of files" [hidden]="!file.selected">
            <app-xml-view [xmlString]="file.xmlFileContent"></app-xml-view>
        </div>
    </div>

    <div>
        <app-selection></app-selection>
    </div>

</div>

