$bg-col: #1e1e1e;
$tag-col: #8e8e8e;
$tagname-col: #54a0e4;
$attr-col: #9bd7ef;
$attr-val-col: orange;
$text-col: #d4d4d4;
$array-col: #3a3a3a;
$selected-array-col: #484848;
$selected-bg-col: #3a414a;
$left-bar-bg-col: #444444;
$left-bar-border-col: #616161;
$link-color: #859aff;
$highlight-border: 1px solid #4e4039;
$highlight-bg-col: #252d2f;
$highlight-head-bg-col: #ce4d10;
