table {
    width: 100%;

    tr {
        td {
            vertical-align: top;
            border-top: 1px solid #d8d8d8;
            border-left: 1px solid #d8d8d8;
        }

        td:first-child {
            border-left: 0;
        }
    }
}

.material-icons {
    margin: .25rem 0 0 .25rem;
}

.btn-sm {
    line-height: 1;
    padding: 0;

    .material-icons {
        margin: 0;
    }
}
