<div *ngIf="node.name"
  [class.noTagName]="noTagName"
  [class.first-node]="!node.parent"
  [class.text-node]="node.isText"
  (click)="onNodeClick($event, node)"
  class="node">

  <div class="header d-flex flex-row">
    <!-- expand / collapse button -->
    <ng-container *ngIf="!node.isText">
      <button class="btn btn-sm" 
        [hidden]="!collapsed"
        (click)="show($event)">
        <span class="icon-expand"></span>
      </button>
      <button class="btn btn-sm" 
        [hidden]="collapsed"
        (click)="hide($event)">
        <span class="icon-collapse"></span>
      </button>
    </ng-container>

    <!-- tag name -->
    <div *ngIf="!noTagName" class="p-1 tagname"
      [class.name]="node.isText">
      <span *ngIf="node.isText" class="type icon-tag">#</span>
      {{ node.name }}
    </div>
    <div *ngIf="node.isText" class="value p-1"
        [class.border-left]="!noTagName">
      {{ node.shortText }}
    </div>
  </div>

  <!-- attributes -->
  <div class="pl-3 attr" 
      [hidden]="collapsed"
      *ngFor="let attr of node.attributes">
    <div class="node d-flex flex-row"
        (click)="onAttrClick($event, attr, node)">
      <div class="name p-1">
        <span class="icon-attr">@</span>
        {{ attr.name }}
      </div>        
      <div class="value p-1 border-left">
        {{ attr.value }}
      </div>
    </div>
  </div>

  <!-- children nodes -->
  <ng-container *ngFor="let childNodes of node.children">
    <!-- array -->
    <div class="pl-3"
         *ngIf="childNodes.length > 1"
         [hidden]="collapsed">
      <app-array [nodes]="childNodes"></app-array>
    </div>
    <!-- single node -->
    <div class="pl-3"
        *ngIf="childNodes.length === 1"
        [hidden]="collapsed">
      <app-node [node]="childNodes[0]" [arrayInParent]="arrayInParent"></app-node>
    </div>
  </ng-container>

</div>
