.node {
    border-left: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    font-size: .8rem;
    display: table;
    width: 100%;
    background-color: white;
    
    &.noTagName {
        border: 0;
        border-top: 1px solid #d8d8d8;
    }

    &.text-node > .header {
        .type, .name {
            background-color: #ffffeb;
        }
    }

    .btn-sm {
        line-height: 1;
        padding: 0;

        .material-icons {
            margin: 0;
        }
    }

    .value {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        min-width: 120px;
    }

    .tagname:not(.name) {
        font-size: 1rem;
        font-weight: bold;
    }

    .name {
        min-width: 100px;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .inner {
        border-left: 4px solid transparent;
    }

    .attr {
        i, .name {
            background-color: #f8f8f8;
        }
    }
}

.first-node {
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    margin-right: 1rem;
}