<div
  *ngIf="node.name"
  #anchor
  [class.noTagName]="noTagName"
  [class.first-node]="!node.parent"
  [class.text-node]="node.isText"
  (click)="onNodeClick($event, node)"
  class="node"
  [attr.data-node]="node.name"
  [class.selected]="node.selected && node.selection.type === 'Node'"
  [class.highlighted]="hasNodeHighlight(node)"
>
  <div *ngIf="hasNodeHighlight(node)" class="highlight-text">
    <fa-icon class="align-top mt-2 mr-2" size="lg" [icon]="icons.faHighlighter"></fa-icon>
    <div class="d-inline-block input" role="textbox" contenteditable [textContent]="node.highlights.node" (focusout)="highlightFocusOut($event, node)"></div>
  </div>
  <div class="header d-flex flex-row">
    <!-- expand / collapse button -->
    <ng-container *ngIf="!node.isText">
      <button class="btn btn-sm" [hidden]="!node.collapsed" (click)="show($event)">
        <fa-icon [icon]="icons.faPlusSquare"></fa-icon>
      </button>
      <button class="btn btn-sm" [hidden]="node.collapsed" (click)="hide($event)">
        <fa-icon [icon]="icons.faMinusSquare"></fa-icon>
      </button>
    </ng-container>

    <!-- tag name -->
    <div *ngIf="!noTagName" class="py-1 tagname">
      <span class="tag">&lt;</span><span [innerHTML]="getValue(node.name)"></span><span class="tag">&gt;</span>
    </div>
    <div *ngIf="node.isText" class="value p-1">
      {{ node.shortText }}
    </div>
  </div>

  <!-- attributes -->
  <div class="pl-4 attr" [hidden]="node.collapsed && !node.isText" *ngFor="let attr of getAttributes()">
    <div
      class="d-inline-block"
      [class.selected]="node.selected && node.selection.attr === attr"
      (click)="onAttrClick($event, attr, node)"
      [class.highlighted]="hasAttrHighlight(node, attr)"
    >
    <div *ngIf="hasAttrHighlight(node, attr)" class="highlight-text">
      <fa-icon class="align-top mt-2 mr-2" size="lg"  [icon]="icons.faHighlighter"></fa-icon>
      <div class="d-inline-block input" role="textbox" contenteditable [textContent]="node.highlights.attrs[attr.name]" (focusout)="highlightFocusAttrOut($event, node, attr)"></div>
    </div>

    <div class="d-flex flex-row">
      <div class="attr-name p-1 indent-node">{{ attr.name }} <span class="equals">=</span></div>
      <div class="attr-value p-1 pl-0 flex-fill">
        {{ attr.value }}
      </div>

    </div>

    </div>
  </div>

  <!-- children nodes -->
  <ng-container *ngFor="let childNodes of getChildren()">
    <!-- array -->
    <div class="pl-3" *ngIf="childNodes.length > 1" [hidden]="node.collapsed">
      <app-array [nodes]="childNodes"></app-array>
    </div>
    <!-- single node -->
    <div class="pl-3" *ngIf="childNodes.length === 1" [hidden]="node.collapsed">
      <app-node [node]="childNodes[0]" [arrayInParent]="arrayInParent"></app-node>
    </div>
  </ng-container>
</div>
