@import '../../colors.scss';

.node {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  display: table;
  width: 100%;

  .btn-sm {
    line-height: 1;
    padding: 0;

    fa-icon {
      color: white;
      margin: 0.3rem;
    }
  }

  .tagname {
    color: $tagname-col;
    cursor: pointer;

    .tag {
      color: $tag-col;
    }
  }

  &.text-node > .header > .tagname {
    margin-left: 1.75rem;
  }

  .equals {
    color: $tag-col;
  }

  .attr-name {
    color: $attr-col;
    white-space: nowrap;
    cursor: pointer;
  }

  .attr-value {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    min-width: 120px;
    color: $attr-val-col;
    cursor: pointer;
  }

  .inner {
    border-left: 4px solid transparent;
  }

  .header.selected {
    & > .tagname {
      background: $selected-bg-col;
      border-radius: 5px;
      border-right: 0;
    }
  }

  &.text-node > .header.selected {
    & > .tagname {
      border-radius: 5px 0 0 5px;
    }
    & > .value {
      background: $selected-bg-col;
      border-radius: 0 5px 5px 0;
    }
  }

  .attr {
    .selected {
      & > .attr-name {
        background: $selected-bg-col;
        border-radius: 5px 0 0 5px;
        border-right: 0;
      }

      & > .attr-value {
        background: $selected-bg-col;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.first-node {
  border: 0;
  margin: 0.5rem;
}

.value {
  cursor: pointer;
}
