<div *ngIf="searchVisible" class="main">
    <div class="input-group py-1 px-2">
        <input type="text" class="form-control ml-1" 
            [(ngModel)]="searchText" placeholder="Search...">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="doSearch()">Search</button>
        </div>
    </div>
    <div class="px-2 pb-1" *ngIf="searchResults">
        <span class="ml-1">
            {{ currentResult + 1 }}/{{ searchResults.length }} results
        </span>
        <button class="btn btn-small btn-secondary" type="button" (click)="nextResult()">Next</button>
    </div>
</div>
