@import '../colors.scss';

.main {
  position: absolute;
  right: 2rem;
  background-color: $left-bar-bg-col;
  border: 1px solid $left-bar-border-col;
  border-top: 0;
  border-radius: 0 0 5px 5px;

  .search-input {
    flex-grow: 0;
    width: 10em;
  }
}
