<div *ngIf="searchVisible" class="main form-row">
    <div class="col-auto">
        <div class="input-group p-1">
            <input type="text" class="form-control search-input" 
                (keyup.enter)="doSearch()" #searchBox
                [(ngModel)]="searchText" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="doSearch()">Search</button>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div *ngIf="searchResults && searchResults.length === 0">
                Not found.
        </div>
        <div *ngIf="searchResults && searchResults.length > 0" class="my-1">
            <button class="btn btn-small btn-outline-secondary mr-1" type="button" (click)="prevResult()">Prev</button>
            <button class="btn btn-small btn-outline-secondary" type="button" (click)="nextResult()">Next</button>
            <span class="ml-1">
                {{ currentResult + 1 }} of {{ searchResults.length }}
            </span>    
        </div>
    </div>
</div>
